* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
    
  }
  
  header,
  form {
    width: 50%;
    margin: 0 auto;
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  form input{
    width: 60%;
    outline:none;
  }
  form button{
    width: 10%
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
  }
  form button {
    color: #ff6f47;
    background: #e6f3f1;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: #ff6f47;
    color: white;
  }
  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  
  .todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }
  .filter-todo {
    padding: 1rem;
  }
  .todo li {
    flex: 1;
  }
  
  .trash-btn,
  .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .complete-btn {
    background: rgb(11, 212, 162);
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    width: 30%;
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: #ff6f47;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
    font-size: 1rem;
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: #ff6f47;
    cursor: pointer;
    pointer-events: none;
  }
  /* Transition */
  /*
  .select:hover::after {
    transform: scale(1.5);
  }
  */
  @media (max-width: 1000px){
    form{
      min-height: 10vh;
      width:80%;
      flex-wrap: wrap;
    }
    header {
      min-height: 10vh;
      font-size: 1rem;
    }
    select{
      width:20rem;
    }
  }
  @media (max-width: 650px){
    form{
      margin-top: 5px;
      width:90%;
      flex-wrap: wrap;
    }
    form input{
      width:80%;
    }
    header {
      min-height: 6vh;
      font-size: 0.8rem;
      width:100%;
      background: rgb(11, 212, 162);
    }
    form input,
    form button {
      padding: 0.5rem;
      font-size: 1.2rem;
    }
    .filter-todo {
      padding: 0.5rem;
    }
    .select::after {
      padding: 0.45rem;
    }
    .select{
      width:50%;
      margin:0.5rem;
    }
    select{
      width:16rem;
    }
    .trash-btn, .complete-btn {
      padding:0.5rem;
    }
    .todo{
      font-size: 1.1rem;
    }
  }
  

  @media (max-width: 360px){
    form{
      width: 95%
    }
    header {
      font-size: 0.7rem;
    }
  }